@font-face {
    font-family: "Norse-Bold";
    src: url("/repos/TOP_project_signup_form/fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Norse-Bold",sans-serif;
}

.container, .logo_name{
    display: flex;
    align-items: center;
    position: absolute;
}

#backdrop_image{
    display: flex;
    height: 70vh;
}

.logo_image{
    width: 75px;
}

.title{
    color: white;
    font-size: 75px;
    display: flex;
}

.left-panel{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}